In [170]:
import pandas as pd
import plotly.express as px

In [171]:
df = pd.read_excel('DATA.xlsx',
                   sheet_name=['Win Loss', 'Bubble chart', 'Pie chart', 'Bar chart', 'Radar chart', 'Scatterplot 1', 
                              'Scatterplot 2', 'Scatterplot 3', 'Scatterplot 4', 'Scatterplot 5'])

In [172]:
print(df)

{'Win Loss':     Year  Win  Loss  No bids
0   2011   10     6        1
1   2012    9     5        2
2   2013    8     7        0
3   2014   12     4        3
4   2015    7     6        2
5   2016    8     5        1
6   2017    4     7        0
7   2018    9     7        3
8   2019   11     5        4
9   2020    4     2        7
10  2021    5     2        8, 'Bubble chart':     Year  Win  Loss  No bids
0   2011   10     6        1
1   2012    9     5        2
2   2013    8     7        0
3   2014   12     4        3
4   2015    7     6        2
5   2016    8     5        1
6   2017    4     7        0
7   2018    9     7        3
8   2019   11     5        4
9   2020    4     2        7
10  2021    5     2        8, 'Pie chart':      Year  Win  Loss  No bids
0    2011   10     6        1
1    2012    9     5        2
2    2013    8     7        0
3    2014   12     4        3
4    2015    7     6        2
5    2016    8     5        1
6    2017    4     7        0
7    2018    9     7        3
8    2019   11     5        4
9    2020    4     2        7
10   2021    5     2        8
11  TOTAL   87    56       31, 'Bar chart':     Year  Win  Loss
0   2017  6.4   NaN
1   2017  6.3   NaN
2   2017  6.7   NaN
3   2017  6.2   NaN
4   2017  NaN   5.2
5   2017  NaN   5.4
6   2017  NaN   6.1
7   2017  NaN   6.4
8   2017  NaN   4.9
9   2017  NaN   5.8
10  2017  NaN   5.2
11  2018  5.8   NaN
12  2018  6.3   NaN
13  2018  5.6   NaN
14  2018  6.7   NaN
15  2018  6.3   NaN
16  2018  6.4   NaN
17  2018  6.2   NaN
18  2018  5.7   NaN
19  2018  6.1   NaN
20  2018  NaN   5.3
21  2018  NaN   5.4
22  2018  NaN   6.1
23  2018  NaN   5.7
24  2018  NaN   5.8
25  2018  NaN   6.3
26  2018  NaN   6.0
27  2019  5.6   NaN
28  2019  6.1   NaN
29  2019  5.8   NaN
30  2019  6.3   NaN
31  2019  6.9   NaN
32  2019  6.8   NaN
33  2019  5.7   NaN
34  2019  6.0   NaN
35  2019  6.7   NaN
36  2019  5.7   NaN
37  2019  5.9   NaN
38  2019  NaN   6.1
39  2019  NaN   5.6
40  2019  NaN   4.9
41  2019  NaN   4.6
42  2019  NaN   5.6
43  2020  6.1   NaN
44  2020  5.8   NaN
45  2020  6.7   NaN
46  2020  6.9   NaN
47  2020  NaN   5.3
48  2020  NaN   5.8
49  2021  6.8   NaN
50  2021  6.1   NaN
51  2021  5.8   NaN
52  2021  6.6   NaN
53  2021  5.6   NaN
54  2021  NaN   6.1
55  2021  NaN   5.8, 'Radar chart':                   Occupation  Experience  Projekt experience  Agile  \
0          Senior consultant          43                  42     15
1          Junior consultant          12                  15      5
2  Foreign Senior consultant          46                  39     47

   certificate  prince2  Danish language
0           40       47               50
1            6        7               50
2           35       15                5  , 'Scatterplot 1':     Evaluate score  Year
0             5.20  2017
1             5.40  2017
2             6.10  2017
3             6.40  2017
4             4.90  2017
5             5.80  2017
6             5.20  2017
7             5.60  2017
8             6.10  2017
9             5.80  2017
10            6.30  2017
11            6.90  2018
12            6.80  2018
13            5.70  2018
14            6.00  2018
15            6.70  2018
16            5.70  2018
17            5.90  2018
18            6.80  2018
19            6.10  2018
20            5.80  2018
21            6.60  2018
22            5.60  2018
23            6.10  2018
24            5.60  2018
25            4.90  2018
26            4.60  2018
27            5.60  2019
28            6.45  2019
29            6.30  2019
30            6.70  2019
31            6.20  2019
32            6.40  2019
33            4.90  2019
34            5.80  2019
35            5.20  2019
36            5.60  2019
37            6.10  2019
38            5.80  2019
39            6.30  2019
40            6.90  2019
41            3.10  2019
42            5.20  2019
43            5.40  2020
44            6.10  2020
45            6.40  2020
46            4.90  2020
47            5.80  2020
48            5.20  2020
49            5.60  2021
50            6.10  2021
51            5.80  2021
52            5.60  2021
53            4.50  2021
54            3.90  2021
55            4.20  2021, 'Scatterplot 2':     Evaluate score  Year
0             4.30  2017
1             5.60  2017
2             3.10  2017
3             5.30  2017
4             4.10  2017
5             3.20  2017
6             5.60  2017
7             2.80  2017
8             6.10  2017
9             5.80  2017
10            6.30  2017
11            6.90  2018
12            6.80  2018
13            5.70  2018
14            3.20  2018
15            6.70  2018
16            5.70  2018
17            5.90  2018
18            5.20  2018
19            5.40  2018
20            6.10  2018
21            6.40  2018
22            4.90  2018
23            5.80  2018
24            5.20  2018
25            5.60  2018
26            4.60  2018
27            5.60  2019
28            6.45  2019
29            6.30  2019
30            6.70  2019
31            6.20  2019
32            6.40  2019
33            4.90  2019
34            5.80  2019
35            5.20  2019
36            5.60  2019
37            6.10  2019
38            5.80  2019
39            6.30  2019
40            6.90  2019
41            4.10  2019
42            2.70  2019
43            3.10  2020
44            6.10  2020
45            5.60  2020
46            5.30  2020
47            2.80  2020
48            5.70  2020
49            5.60  2021
50            6.10  2021
51            2.70  2021
52            5.60  2021
53            4.50  2021
54            5.20  2021
55            3.80  2021, 'Scatterplot 3':     Evaluate score  Year
0             5.20  2017
1             5.40  2017
2             6.10  2017
3             6.40  2017
4             4.90  2017
5             5.80  2017
6             5.20  2017
7             7.20  2017
8             3.20  2017
9             5.80  2017
10            6.30  2017
11            6.90  2018
12            6.80  2018
13            5.70  2018
14            3.20  2018
15            6.70  2018
16            5.70  2018
17            5.90  2018
18            4.30  2018
19            5.60  2018
20            3.10  2018
21            5.30  2018
22            4.10  2018
23            3.20  2018
24            5.60  2018
25            6.20  2018
26            4.60  2018
27            5.60  2019
28            6.45  2019
29            5.80  2019
30            5.20  2019
31            6.10  2019
32            4.90  2019
33            3.90  2019
34            6.10  2019
35            5.20  2019
36            5.60  2019
37            3.60  2019
38            5.80  2019
39            6.30  2019
40            6.90  2019
41            4.10  2019
42            2.70  2019
43            3.10  2020
44            6.10  2020
45            5.60  2020
46            5.30  2020
47            2.80  2020
48            5.70  2020
49            5.60  2021
50            6.10  2021
51            2.70  2021
52            4.10  2021
53            4.50  2021
54            3.90  2021
55            2.60  2021, 'Scatterplot 4':     Evaluate score  Year
0             2.80  2017
1             5.70  2017
2             5.60  2017
3             6.10  2017
4             2.70  2017
5             4.10  2017
6             4.50  2017
7             3.90  2017
8             2.60  2017
9             5.80  2017
10            6.30  2017
11            6.45  2018
12            5.80  2018
13            5.20  2018
14            6.10  2018
15            4.90  2018
16            3.90  2018
17            6.10  2018
18            5.20  2018
19            5.60  2018
20            3.60  2018
21            5.80  2018
22            4.10  2018
23            3.20  2018
24            5.60  2018
25            6.10  2018
26            4.60  2018
27            5.60  2019
28            6.90  2019
29            6.80  2019
30            5.70  2019
31            3.20  2019
32            6.70  2019
33            5.70  2019
34            5.90  2019
35            4.30  2019
36            5.60  2019
37            3.10  2019
38            5.30  2019
39            6.30  2019
40            6.90  2019
41            4.10  2019
42            2.70  2019
43            3.10  2020
44            6.10  2020
45            5.60  2020
46            5.30  2020
47            5.20  2020
48            5.40  2020
49            6.10  2021
50            6.40  2021
51            4.90  2021
52            5.80  2021
53            5.20  2021
54            6.20  2021
55            3.20  2021, 'Scatterplot 5':     Evaluate score (KMD)  Year  Evaluate score (NET COMPANY)  Year.1  \
0                   5.20  2017                          2.80    2017
1                   5.40  2017                          5.70    2017
2                   6.10  2017                          5.60    2017
3                   6.40  2017                          6.10    2017
4                   4.90  2017                          2.70    2017
5                   5.80  2017                          4.10    2017
6                   5.20  2017                          4.50    2017
7                   5.60  2017                          3.90    2017
8                   6.10  2017                          2.60    2017
9                   5.80  2017                          5.80    2017
10                  6.30  2017                          6.30    2017
11                  6.90  2018                          6.45    2018
12                  6.80  2018                          5.80    2018
13                  5.70  2018                          5.20    2018
14                  6.00  2018                          6.10    2018
15                  6.70  2018                          4.90    2018
16                  5.70  2018                          3.90    2018
17                  5.90  2018                          6.10    2018
18                  6.80  2018                          5.20    2018
19                  6.10  2018                          5.60    2018
20                  5.80  2018                          3.60    2018
21                  5.20  2018                          5.80    2018
22                  5.60  2018                          4.10    2018
23                  4.60  2018                          3.20    2018
24                  5.60  2018                          5.60    2018
25                  6.45  2018                          6.10    2018
26                  6.30  2018                          4.60    2018
27                  6.70  2019                          5.60    2019
28                  6.20  2019                          6.90    2019
29                  5.90  2019                          6.80    2019
30                  5.20  2019                          5.70    2019
31                  5.40  2019                          3.20    2019
32                  6.10  2019                          6.70    2019
33                  6.40  2019                          5.70    2019
34                  4.90  2019                          5.90    2019
35                  5.80  2019                          4.30    2019
36                  5.20  2019                          5.60    2019
37                  5.60  2019                          4.10    2019
38                  4.60  2019                          2.70    2019
39                  5.60  2019                          3.10    2019
40                  6.90  2019                          6.10    2019
41                  3.10  2019                          5.60    2019
42                  5.20  2019                          5.30    2019
43                  5.40  2020                          3.10    2020
44                  6.10  2020                          6.10    2020
45                  6.40  2020                          5.60    2020
46                  4.90  2020                          5.30    2020
47                  5.80  2020                          5.20    2020
48                  5.20  2020                          5.40    2020
49                  5.60  2021                          6.10    2021
50                  6.10  2021                          6.40    2021
51                  5.80  2021                          4.90    2021
52                  5.60  2021                          5.80    2021
53                  4.50  2021                          5.20    2021
54                  3.90  2021                          6.20    2021
55                  4.20  2021                          3.20    2021

    Evaluate score (NNIT)  Year.2  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0                    4.30    2017         NaN         NaN         NaN
1                    5.60    2017         NaN         NaN         NaN
2                    3.10    2017         NaN         NaN         NaN
3                    5.30    2017         NaN         NaN         NaN
4                    4.10    2017         NaN         NaN         NaN
5                    3.20    2017         NaN         NaN         NaN
6                    5.60    2017         NaN         NaN         NaN
7                    2.80    2017         NaN         NaN         NaN
8                    6.10    2017         NaN         NaN         NaN
9                    5.80    2017         NaN         NaN         NaN
10                   6.30    2017         NaN         NaN         NaN
11                   6.90    2018         NaN         NaN         NaN
12                   6.80    2018         NaN         NaN         NaN
13                   5.70    2018         NaN         NaN         NaN
14                   3.20    2018         NaN         NaN         NaN
15                   6.70    2018         NaN         NaN         NaN
16                   5.70    2018         NaN         NaN         NaN
17                   5.90    2018         NaN         NaN         NaN
18                   5.20    2018         NaN         NaN         NaN
19                   5.40    2018         NaN         NaN         NaN
20                   6.10    2018         NaN         NaN         NaN
21                   6.40    2018         NaN         NaN         NaN
22                   4.90    2018         NaN         NaN         NaN
23                   5.80    2018         NaN         NaN         NaN
24                   5.20    2018         NaN         NaN         NaN
25                   5.60    2018         NaN         NaN         NaN
26                   4.60    2018         NaN         NaN         NaN
27                   5.60    2019         NaN         NaN         NaN
28                   6.45    2019         NaN         NaN         NaN
29                   6.30    2019         NaN         NaN         NaN
30                   6.70    2019         NaN         NaN         NaN
31                   6.20    2019         NaN         NaN         NaN
32                   6.40    2019         NaN         NaN         NaN
33                   4.90    2019         NaN         NaN         NaN
34                   5.80    2019         NaN         NaN         NaN
35                   5.20    2019         NaN         NaN         NaN
36                   5.60    2019         NaN         NaN         NaN
37                   6.10    2019         NaN         NaN         NaN
38                   5.80    2019         NaN         NaN         NaN
39                   6.30    2019         NaN         NaN         NaN
40                   6.90    2019         NaN         NaN         NaN
41                   5.70    2019         NaN         NaN         NaN
42                   5.90    2019         NaN         NaN         NaN
43                   4.30    2020         NaN         NaN         NaN
44                   5.60    2020         NaN         NaN         NaN
45                   4.10    2020         NaN         NaN         NaN
46                   2.70    2020         NaN         NaN         NaN
47                   3.10    2020         NaN         NaN         NaN
48                   6.10    2020         NaN         NaN         NaN
49                   5.60    2021         NaN         NaN         NaN
50                   6.10    2021         NaN         NaN         NaN
51                   2.70    2021         NaN         NaN         NaN
52                   5.60    2021         NaN         NaN         NaN
53                   4.50    2021         NaN         NaN         NaN
54                   5.20    2021         NaN         NaN         NaN
55                   3.80    2021         NaN         NaN         NaN

    Unnamed: 9
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
35         NaN
36         NaN
37         NaN
38         NaN
39         NaN
40         NaN
41         NaN
42         NaN
43         NaN
44         NaN
45         NaN
46         NaN
47         NaN
48         NaN
49         NaN
50         NaN
51         NaN
52         NaN
53         NaN
54         NaN
55         NaN  }

In [173]:
df_winloss = df.get('Win Loss')
df_bubble = df.get('Bubble chart')
df_pie = df.get('Pie chart')
df_bar = df.get('Bar chart')
df_radar = df.get('Radar Chart')
df_scatter_1 = df.get('Scatterplot 1')
df_scatter_2 = df.get('Scatterplot 2')
df_scatter_3 = df.get('Scatterplot 3')
df_scatter_4 = df.get('Scatterplot 4')
df_scatter_5 = df.get('Scatterplot 5')

In [174]:
df_pie

     Year  Win  Loss  No bids
0    2011   10     6        1
1    2012    9     5        2
2    2013    8     7        0
3    2014   12     4        3
4    2015    7     6        2
5    2016    8     5        1
6    2017    4     7        0
7    2018    9     7        3
8    2019   11     5        4
9    2020    4     2        7
10   2021    5     2        8
11  TOTAL   87    56       31

In [175]:
df_pie = df_pie[df_pie['Year'] == 'TOTAL']
df_pie

     Year  Win  Loss  No bids
11  TOTAL   87    56       31

In [176]:
df_pie.reset_index(drop=True, inplace=True)

In [177]:
s_pie = df_pie.stack()
s_pie

0  Year       TOTAL
   Win           87
   Loss          56
   No bids       31
dtype: object

In [178]:
df_pie = pd.DataFrame(s_pie)
df_pie

               0
0 Year     TOTAL
  Win         87
  Loss        56
  No bids     31

In [179]:
df_pie.columns = df_pie.iloc[0]
df_pie

(0, 'Year')  TOTAL
0 Year       TOTAL
  Win           87
  Loss          56
  No bids       31

In [180]:
df_pie = df_pie.iloc[1: , :]
df_pie

(0, 'Year') TOTAL
0 Win          87
  Loss         56
  No bids      31

In [181]:
df_pie = df_pie.reset_index(level=[0,1])
df_pie

(0, 'Year')  level_0  level_1 TOTAL
0                  0      Win    87
1                  0     Loss    56
2                  0  No bids    31

In [182]:
df_pie.index

RangeIndex(start=0, stop=3, step=1)

In [189]:
df_pie= df_pie.reset_index(level=[0])

ValueError: cannot insert level_0, already exists

In [190]:
fig = px.pie(df_pie, names='level_1', 
                values='TOTAL', color_discrete_map ={'Win' : 'green', 'Loss': 'red, 'No bids': 'blue'})
fig.show()

SyntaxError: invalid syntax (1356905590.py, line 2)